build/
managed_components/
sdkconfig
sdkconfig.old
.env
.vscode/

server/influxdb/*
server/grafana/*
!server/grafana/provisioning

server/nodered/node_modules/
server/nodered/.npm/
server/nodered/lib/
server/nodered/data/
server/nodered/.config.*
server/nodered/flows_cred.json
server/nodered/*.backup

server/mosquitto/data/
server/mosquitto/log/