menu "Hardware Configuration"

    config BRIDGE_MAC_ADR
        string "ESP bridge MAC address"
        default ""
        help
            MAC address of the ESP-Bridge in format F4:2D:C9:6B:EE:38

    config ESPNOW_CHANNEL
        int "ESP-NOW channel"
        default 1
        help
            ESP-NOW channel must match the WiFi channel of the bridge's router.

    config SDA_PIN_NUM
        int "BME280 SDA pin number"
        default 21
        help
            GPIO pin number for I2C SDA line connected to BME280.

    config SCL_PIN_NUM
        int "BME280 SCL pin number"
        default 22
        help
            GPIO pin number for I2C SCL line connected to BME280.

endmenu